{% extends 'servicios/base.html' %}
{% block contenidos %}
{% load static %}
  <center>
    <br>
    <h1 class="titulon1">Alza de incendios en la quinta región</h1>
    <p class="subtitulon1">Por Diego Alonzo Pino Sagredo | 9 de abril 2024 | V región Valparaíso</p>
    <center>
      <h1 class="n1Info">Estas tragedia sin precedentes demuestra la necesidad de construir territorios más
        resilientes y seguros en un contexto de cambio climático y ocurrencia de eventos extremos.</h1>
    </center>

    <img src="{% static 'servicios/imagenes/imgn2.webp' %}" alt="" height="300" width="600" style="border-radius: 10px" />
    <p class="parrafon1">El devastador incendio forestal que afectó más de 8.000 hectáreas de bosques esclerófilos,
      praderas, matorrales abiertos y plantaciones forestales en la región de Valparaíso ha sido uno de los más
      devastadores de los cuales se tiene registro en Chile. Después del terremoto de 2010, esta catástrofe ha alcanzado
      la mayor mortalidad con 132 víctimas, 20.000 personas afectadas y más 7 mil edificaciones y viviendas dañadas,
      incluyendo la destrucción del emblemático Jardín Botánico de la ciudad de Viña del Mar.

      Las investigaciones realizadas sobre el origen de las igniciones dan cuenta que uno de los principales focos de
      incendio se originó en la Reserva Nacional Peñuelas junto a otros cuatro focos iniciados de manera relativamente
      simultánea unos pocos kilómetros más al norte de esta área protegida.

      Dada las favorables condiciones meteorológicas (altas temperaturas, baja humedad y vientos de más de 45 km/hr), la
      propagación fue extremadamente rápida y con una alta intensidad.</p>
  </center>
{% endblock %} 