{% extends 'servicios/base.html' %}
{% block contenidos %}
{% load static %}
  <center>
    <h1 class="titulon1">
      Intento de robo termina con homicidio en vía pública de Viña del Mar:
      Víctima caminaba con su familia
    </h1>
  </center>
  <br />
  <center>
    <p class="subtitulon1">
      Por Diego Alonzo Pino Sagredo | 9 de abril 2024 | V región Viña del mar
    </p>
  </center>
  <>
    <center>
      <h1 class="n1Info">
         La víctima se
        encontraba caminando por 2 Norte con 5 Oriente, cuando un sujeto
        intentó quitarle su celular, para luego apuñalarlo en el tórax.
      </h1>
    </center>
    <br />
  <center>
    <img src="{% static 'servicios/imagenes/imgn3.jpg' %}" alt="" height="300" width="600" style="border-radius: 10px" />
    <p class="parrafon1">Un robo con homicidio ocurrió en horas de la noche en pleno centro de Viña del Mar, donde en
      calle 2 Norte con 5 Oriente, un hombre fue asesinado tras recibir un ataque en su cuerpo con un arma blanca.

      Según el relato de testigos y la investigación que han realizado los equipos policiales, el ataque se produjo a
      eso de las 21:00 horas del sábado 23, cuando una persona asaltó a un hombre que se encontraba caminando junto a su
      grupo familiar en la calle mencionada.
      El asaltante, aún no identificado, se acercó a un hombre de 40 años de edad con el objetivo de sustraer su
      celular.

      Fue luego de este intento (infructuoso) de asalto cuando el antisocial apuñaló en la región del tórax a su
      víctima.
    </p>
  </center>
{% endblock %} 